<% content_for :title do %>
  <title>Train Wiki - <%= journey_description(@journey) %></title>
<% end %>

<h1><%= journey_description(@journey) %></h1>

<div id="navigation">
  <% if @previous_journey.present? %>
    <%= link_to "< #{@previous_journey.departs_on.to_s(:day_of_week)}'s Journey", journey_path(@previous_journey), :class => "previous" %>
  <% end %>
  <%= link_to "All Journeys (#{@journey.departs_on.to_s(:day_of_week)})", journeys_path(:date => Date.today), :class => "today" %>
  <% if @next_journey.present? %>
    <%= link_to "#{@next_journey.departs_on.to_s(:day_of_week)}'s Journey >", journey_path(@next_journey), :class => "next" %>
  <% end %>
</div>

<table id="stops">
  <thead>
    <tr>
      <th class="station name">Station</th>
      <th class="station code">Code</th>
      <th class="time">Arrives</th>
      <th class="time">Departs</th>
      <th class="time">Arrived</th>
      <th class="time">Departed</th>
      <th class="minutes">Late (arr)</th>
      <th class="minutes">Late (dep)</th>
    </tr>
  </thead>
  <tbody>
    <% @journey.each_stop do |station, arrival, departure| %>
    <tr>
      <td class="station name"><%= station.name %></td>
      <td class="station code"><%= station.code %></td>
      <td class="time"><%= arrival.try(:timetabled_at).try(:to_s, :time) %></td>
      <td class="time"><%= departure.try(:timetabled_at).try(:to_s, :time) %></td>
      <td class="time"><%= arrival.try(:happened_at).try(:to_s, :time) %></td>
      <td class="time"><%= departure.try(:happened_at).try(:to_s, :time) %></td>
      <td class="minutes"><%= arrival.try(:late_minutes) %></td>
      <td class="minutes"><%= departure.try(:late_minutes) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="navigation">
  <% if @previous_journey.present? %>
    <%= link_to "< #{@previous_journey.departs_on.to_s(:day_of_week)}'s Journey", journey_path(@previous_journey), :class => "previous" %>
  <% end %>
  <%= link_to "All Journeys (#{@journey.departs_on.to_s(:day_of_week)})", journeys_path(:date => Date.today), :class => "today" %>
  <% if @next_journey.present? %>
    <%= link_to "#{@next_journey.departs_on.to_s(:day_of_week)}'s Journey >", journey_path(@next_journey), :class => "next" %>
  <% end %>
</div>
