<% content_for :title do %>
  <title>Trainwiki - <%= "#{@journey.departs_at.to_s(:time)} #{@journey.origin_station.name} to  #{@journey.destination_station.name} on #{@journey.departs_on}" %></title>
<% end %>

<table id="stops">
  <thead>
    <tr>
      <th class="name">Station</th>
      <th class="departs_at">Arrives</th>
      <th class="arrives_at">Departs</th>
      <th class="departed_at">Departed</th>
      <th class="arrived_at">Arrived</th>
    </tr>
  </thead>
  <tbody>
    <% @journey.each_stop do |station, arrival, departure| %>
    <tr>
      <td class="name"><%= "#{station.name} (#{station.code})" %></td>
      <td class="arrives_at"><%= arrival.try(:timetabled_at).try(:to_s, :time) %></td>
      <td class="departs_at"><%= departure.try(:timetabled_at).try(:to_s, :time) %></td>
      <td class="arrived_at"><%= arrival.try(:happened_at).try(:to_s, :time) %></td>
      <td class="departed_at"><%= departure.try(:happened_at).try(:to_s, :time) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
