<% content_for :title do %>
  <title>Train Wiki - <%= journey_description(@journey) %></title>
<% end %>

<table id="stops">
  <thead>
    <tr>
      <th class="station_name">Station</th>
      <th class="station_code">Code</th>
      <th class="arrives_at">Arrives</th>
      <th class="departs_at">Departs</th>
      <th class="arrived_at">Arrived</th>
      <th class="departed_at">Departed</th>
      <th class="">Arrival Lateness</th>
      <th class="">Departure Lateness</th>
    </tr>
  </thead>
  <tbody>
    <% @journey.each_stop do |station, arrival, departure| %>
    <tr>
      <td class="station_name"><%= station.name %></td>
      <td class="station_code"><%= station.code %></td>
      <td class="arrives_at"><%= arrival.try(:timetabled_at).try(:to_s, :time) %></td>
      <td class="departs_at"><%= departure.try(:timetabled_at).try(:to_s, :time) %></td>
      <td class="arrived_at"><%= arrival.try(:happened_at).try(:to_s, :time) %></td>
      <td class="departed_at"><%= departure.try(:happened_at).try(:to_s, :time) %></td>
      <td class=""><%= arrival.try(:late_minutes) %></td>
      <td class=""><%= departure.try(:late_minutes) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
